.button{
    -fx-background-color: #228B22;
    -fx-text-fill: #fff;
    -fx-background-radius: 10;
}

.icon-button {
    -fx-background-color: #228B22;
    -fx-text-fill: #fff;
    -fx-background-radius: 50;
}

.button-style {
    -fx-background-color: #228B22;
    -fx-text-fill: #E5E4E2;
    -fx-background-radius: 10;
    -fx-min-height: 40px;
    -fx-min-width: 80px;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.button-style:hover{
    -fx-background-color: #E5E4E2;
    -fx-text-fill: #228B22;
}

.button-menu {
    -fx-background-color: #E5E4E2;
    -fx-text-fill: #228B22;
    -fx-background-radius: 10;
    -fx-min-height: 40px;
    -fx-min-width: 80px;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.button-menu:hover{
    -fx-background-color: #228B22;
    -fx-text-fill: #E5E4E2;
}

.combo-box {
    -fx-font-size: 10px;
    -fx-cell-size: 10px;
    -fx-prompt-text-fill: gray;
    -fx-text-fill: black;
    -fx-background-color: #f0f0f0;
    -fx-border-color: #ccc;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
}

.combo-box .arrow {
    -fx-background-color: #f0f0f0;
}

.combo-box .arrow-button {
    -fx-background-color: transparent;
}

.combo-box .list-cell {
    -fx-font-size: 14px;
    -fx-text-fill: black;
}

.combo-box .list-view {
    -fx-background-color: #f0f0f0;
    -fx-border-color: #ccc;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}

.warning-text {
    -fx-text-fill: red;
}

.success-text {
    -fx-text-fill: green;
}

.text-input {
    -fx-font-size: 14px;
    -fx-prompt-text-fill: gray;
    -fx-text-fill: black;
    -fx-background-color: #fff;
    -fx-border-color: #228B22;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-padding: 5px;
}

.text-input-error {
    -fx-font-size: 14px;
    -fx-text-fill: black;
    -fx-background-color: #fff;
    -fx-border-color: #f00;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-padding: 5px;
}

.login-text-input{
    -fx-background-color: transparent;
    -fx-border-color: #228B22;
    -fx-border-width: 0px 0px 2px 0px;
}

.white-backgroung{
    -fx-background-color: #fff;
}

.transparent{
    -fx-background-color: rgba(0,0,0,0);
}

.municipalite{
    -fx-background-radius: 50;
}

.light-grey-background{
    -fx-background-color: #F3F3F3;
}

.profile-layout{
    -fx-background-color: #EBC95E;
    -fx-background-radius: 0 0 50 50;
}
